### Task: Build a Simple Linear Regression Mode

In [5]:
import pandas as pd
import numpy as np

df = pd.read_csv('./Data/housing.csv')

In [ ]:
# Data Preprocessing
df.head()

# 1. drop unused colums
df = df.drop(['ocean_proximity'], axis=1)
df = df.drop(['longitude', 'latitude'], axis=1)

# 2. checking for missing value
df.isnull().sum().sort_values(ascending=False)

# 3. imputing the missing values
df['total_bedrooms'] = df['total_bedrooms'].fillna(df['total_bedrooms'].median())

# 4. feature scalling 
from sklearn.preprocessing import StandardScaler

StandardScaler = StandardScaler()

df[['total_bedrooms']] = StandardScaler.fit_transform(df[['total_bedrooms']])
df[['population']] = StandardScaler.fit_transform(df[['population']])
df[['households']] = StandardScaler.fit_transform(df[['households']])
df[['median_income']] = StandardScaler.fit_transform(df[['median_income']])
df[['median_house_value']] = StandardScaler.fit_transform(df[['median_house_value']])
df[['total_rooms']] = StandardScaler.fit_transform(df[['total_rooms']])
df[['housing_median_age']] = StandardScaler.fit_transform(df[['housing_median_age']])

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,0.982143,-0.804819,-0.972476,-0.974429,-0.977033,2.344766,2.129631
1,-0.607019,2.045890,1.357143,0.861439,1.669961,2.332238,1.314156
2,1.856182,-0.535746,-0.827024,-0.820777,-0.843637,1.782699,1.258693
3,1.856182,-0.624215,-0.719723,-0.766028,-0.733781,0.932968,1.165100
4,1.856182,-0.462404,-0.612423,-0.759847,-0.629157,-0.012881,1.172900